<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<nav>
	    		<ul>
	        		<li><a href="/">Playlist</a></li>
	    		</ul>
			</nav>
			<footer>
				<img src="pandora.jpg" alt="pandora" class="inline" style="width:100px;height:100px;">/>
				<img src="spotify.png" alt="spotify" class="inline" style="width:100px;height:100px;">/>
			</footer>
		</body>
	</html>
